                /* IMPORTAÇÕES */

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
                
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
                                 
                /* VARIAVEIS */
:root{
                                 
               /* CORES */
                                 
    --cor1: #F2F2F2;
    --cor2: #64504F;
    --cor3: #847272;
    --cor4: #400D11;
    --cor5: #260306;
    --cor6: #60747B;
    --cor7: #5ebee0;
                                 
                /* FONTES */
                                     
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Bebas Neue', cursive;
    
}

footer{
    background-color: var(--cor4);
    color: white;
    font-family: var(--fonte3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.collum-left{
    padding-left: 40px;
}

.collum-left > h3{
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-weight: normal;
}

.collum-left > ul > li{
    list-style: none;
    transition: all .5s;
}

.collum-left > ul > li:hover{
    padding-left: 5px;
    transition: all .5s;
    color: var(--cor4);
}

.collum-left > ul > li > a{
    transition: all .5s;
}

.collum-left > ul > li > a:hover{
    color: var(--cor2);
    transition: all .5s;
}

.collum-right > .pfooter{
    padding-right: 20px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
    max-width: 400px;
    font-size: 1em;
}

.collum-left2{
    display: none;
}

.collum-left2 > h3{
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-weight: normal;
}

.collum-left2 > .items > ul > li{
    list-style: none;
    transition: all .5s;
}

/* .collum-left2 > .items > ul > li:hover{ */
    /* padding-left: 5px; */
    /* transition: all .5s; */
    /* color: var(--cor4); */
/* } */

.collum-left2 > .items > ul > li > a{
    transition: all .5s;
}

.collum-left2 > .items > ul > li > a:hover{
    color: var(--cor2);
    transition: all .5s;
}

@media (max-width: 650px){
    footer{
        flex-direction: column;
    }

    .collum-right{
        padding-top: 20px;
    }

    .collum-left{
        display: none;
    }

    .collum-left2{
        display: block;
    }

    .collum-left2 > h3{
        /* text-align: center; */
        font-size: 1.5em;
    }

    .items{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .items > ul{
        padding: 10px;
    }

    .items > ul > li{
        padding: 5px;
    }

    .collum-right{
        max-width: 350px;
        flex-wrap: wrap;
    }
}