                /* IMPORTAÇÕES */

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
                
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
                                 
                /* VARIAVEIS */
:root{
                                 
                /* CORES */
                                 
    --cor1: #F2F2F2;
    --cor2: #64504F;
    --cor3: #847272;
    --cor4: #400D11;
    --cor5: #260306;
    --cor6: #9fc2cf;
    --cor7: #5ebee0;
                                 
                /* FONTES */
                                     
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Bebas Neue', cursive;
}
                                 
                /* CONFIGURAÇÕES GERAIS */
                                 
*{
    padding: 0;
    margin: 0;
}
                                 
body{
    font-family: var(--fonte2);
    word-wrap: break-word;
    overflow-wrap: break-word;   /* ESSAS DUAS ÚLTIMAS SERVEM PARA, QUANDO CRIADO O TAMANHO DO CONTAINER, O TEXTO NÃO QUEBRE A LARGURA DO MESMO E SIM QUEBRE A SI PRÓPRIO */
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bolder;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div{
    padding: 30px;
}

@media (max-width: 750px){
    .container > div{
        display: none;
    }

    .botao > button{
        display: none;
    }

    .container2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container2 > div{
        display: block;
        flex-direction: column-reverse;
    }

}

@media (min-width: 750px){
    .container2 > div{
        display: none;
    }

    .botao2 > button{
        display: none;
    }
}

.botao, .botao2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao > button{
    background-color: #34af23;
    border-color: #34af23;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    padding: 15px;
    color: var(--cor1);
    font-family: var(--fonte2);
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 15px;
    transition: all .5s;
}

.botao > button:hover{
    background-color: #27851b;
    border-color: #27851b;
}

.botao2 > button{
    background-color: #34af23;
    border-color: #34af23;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    padding: 15px;
    color: var(--cor1);
    font-family: var(--fonte2);
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 15px;
    transition: all .5s;
}

.botao2 > button:hover{
    background-color: #27851b;
    border-color: #27851b;
}

section.module p{
    /* margin-bottom: 40px; */
    font-weight: 100;
    letter-spacing: 1px;
    color: var(--cor1);
    font-size: 30px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 100;
    color: var(--cor7);
}

.info{
    margin-left: 30px;
    text-align: center; 
    font-size: 20px;
}

section.module.content{
    padding: 40px 0;
    background: var(--cor2);
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 82vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #260306;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;        /* ESSES ÚLTIMOS TRÊS É PARA FUNCIONAR EM QUALQUER NAVEGADOR */
    -o-background-size: cover;
}

section.module.parallax > h1{
    color: var(--cor1);
}

section.module.parallax:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.658));
    background: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.87));
    background: -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.87));
    background: -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.87));
}

section.parallax-1{
    background-image: url("../images/b11.jpg");
}

section.parallax-2{
    background-image: url("../images/b12.jpg");
}

section.parallax-3{
    background-image: url("../images/b13.jpg");
}

section.parallax-4{
    background-image: url("../images/b14.jpg");
}

section.parallax-5{
    background-image: url("../images/b15.jpg");
}

section.parallax-6{
    background-image: url("../images/b6.jpg");
}

section.parallax-7{
    background-image: url("../images/b7.jpg");
}

section.parallax-8{
    background-image: url("../images/b8.jpg");
}

section.parallax-9{
    background-image: url("../images/b9.jpg");
}

section.parallax-10{
    background-image: url("../images/b10.jpg");
}

section.parallax-v{
    background-image: url("../video/bolo.mp4");
}

section.parallax h1{
    color: var(--cor7);
    text-align: center;
    font-size: 78px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.582);
}

.aviso-itens{
    margin: auto;
}

@media (max-width: 850px){
    body{
        overflow-x: hidden;
    }

    section.module h2{
        transition: all 1s;
        text-align: center;
    }
    section.module p{
        transition: all 1s;
        margin: 0 auto;
        max-width: 700px;
        /* margin-bottom: 40px; */
    }
}

@media (max-width: 770px){ 
    section.module p{ 
        transition: all 1s;
        margin: 0 auto; 
        max-width: 600px; 
        /* margin-bottom: 40px;  */
    } 
}

@media (max-width: 699px){ 
    section.module p{ 
        transition: all 1s;
        margin: 0 auto; 
        max-width: 450px; 
        /* margin-bottom: 40px;  */
    } 
}

@media (max-width: 560px){ 
    section.module p{ 
        transition: all 1s;
        margin: 0 auto; 
        max-width: 300px; 
        /* margin-bottom: 40px;  */
    } 

    .aviso-itens{
        max-width: 300px; 
    }
}